#u93
{
	background-color: transparent;
	position: relative;
}

#u99
{
	background-color: #FFFC00;
	position: relative;
}

#u99::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.48), inset -3px -3px 4px rgba(0,0,0,0.48);
}

#u100
{
	background-color: #FFFC00;
	position: relative;
}

#u100::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.67), inset -3px -3px 4px rgba(0,0,0,0.67);
}

#u101
{
	background-color: #FFFC00;
	position: relative;
}

#u101::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.67), inset -3px -3px 4px rgba(0,0,0,0.67);
}

#u102-4,#u103-4,#u104-4
{
	background-color: transparent;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
	position: relative;
}

#u91,#u92
{
	background-color: #000000;
}

